/contract/target
/contract/res
/contract/out
/contract2/target
/contract2/res
/contract2/out
/neardev/dev*
contract/neardev/dev*
contract/neardev/shared-test/test-account*
contract2/neardev/dev*
/neardev/shared-test/test-account*
contract2/neardev/shared-test/test-account*
/.cache
/dist
marvfirst.sublime-project
marvfirst.sublime-workspace
/node_modules
/out
yarn-error.log
/saved
devconfig
/contracts/target
/contracts/out
/contracts/marvfirst_main/target
/contracts/marvfirst_sub/target
contracts/marvfirst_main/neardev/dev*
contracts/marvfirst_main/neardev/shared-test/test-account*
contracts/marvfirst_sub/neardev/dev*
contracts/marvfirst_sub/neardev/shared-test/test-account*
/contracts/marvfirst_main/res
/contracts/marvfirst_sub/res
/contracts/marvfirst_main/out
/contracts/marvfirst_sub/out
*.md.backup
