/contract/target
/contract/res
/contract2/target
/contract2/res
/neardev/dev*
contract2/neardev/dev*
/neardev/shared-test/test-account*
/.cache
/dist
marvfirst.sublime-project
marvfirst.sublime-workspace
/node_modules
/out
yarn-error.log
